html {
 font-family: Arial, sans-serif;
 font-size: 14px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.welcome-container {
  margin: 0 auto;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.welcome-title {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.welcome-text {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 30px;
}

.button-container {
  margin-top: 20px; 
}

.router-button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.router-button:hover {
  background-color: #0056b3;
}

